html,
body {
	margin: 0;
	padding: 0;
	background-color: transparent;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif;
}

.widget-container {
	text-align: center;
}

#clockLabel {
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
