html,
body {
	margin: 0;
	padding: 0;
	background-color: transparent;
	box-sizing: border-box;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
		'Helvetica Neue', Arial, sans-serif;
}

.widget-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#clockLabel {
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	text-wrap: nowrap;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
